<%= form_for @ball do |f| %>
 <div class ="editbox">
    <%= f.label :body %>
    <%= f.text_field :body, :size => 200 %> 
 </div>

 <div class ="editbox">
    <%= f.label :私の選ぶMVP %>
    <%= f.text_field :title, :size => 30 %>
 </div>

 <div class ="editbox">
    <%= f.label :今日の対戦チーム  %>
    <%= f.select :teamname, 
    [["ベガルタ仙台", "ベガルタ仙台"], 
    ["ブラウブリッツ秋田", "ブラウブリッツ秋田"],
    ["いわきFC", "いわきFC"],
    ["水戸ホーリーホック", "水戸ホーリーホック"],
    ["栃木SC", "栃木SC"],
    ["ザスパクサツ群馬", "ザスパクサツ群馬"],
    ["大宮アルディージャ", "大宮アルディージャ"],
    ["ジェフユナイテッド千葉", "ジェフユナイテッド千葉"],
    ["東京ヴェルディ", "東京ヴェルディ"],
    ["FC町田ゼルビア", "FC町田ゼルビア"],
    ["ヴァンフォーレ甲府", "ヴァンフォーレ甲府"],
    ["ツエーゲン金沢", "ツエーゲン金沢"],
    ["清水エスパルス", "清水エスパルス"],
    ["ジュビロ磐田", "ジュビロ磐田"],
    ["藤枝MYFC", "藤枝MYFC"],
    ["ファジアーノ岡山", "ファジアーノ岡山"],
    ["レノファ山口FC", "レノファ山口FC"],
    ["徳島ヴォルティス", "徳島ヴォルティス"],
    ["V・ファーレン長崎", "V・ファーレン長崎"],
    ["ロアッソ熊本", "ロアッソ熊本"],
    ["大分トリニータ", "大分トリニータ"]], include_blank: "対戦チームを選択" %>
 </div>

 <div class ="editbox">
    <%= f.label :今日のワンショット %>
    <%= f.file_field :image %>
 </div>

 <div class ="editbox">
    <%= f.label :投稿の説明  %>
    <%= f.text_area :body, :size => "30x2" %>
    <%= f.submit "編集する" %>
 </div>

  <% end %>