<div class="index">
  <div class="match-result">
    <date> 試合結果 </date>
    <score-1> 1 </score>
    <score-2> 1 </score>
    <div class="team-logo1">
      <img src="https://www.montedioyamagata.jp/wp-content/themes/montedio/assets/img/emblem/yamagata.png" width="500" height="589" alt="写真">
    </div>

    <div class="team-logo2">
      <img src="https://jleague.r10s.jp/img/common/img_club_akita.png" width="300" height="300" alt="写真">
    </div>

  </div>

  <div class="next-match">
    <n-match> NEXT MATCH </n-match>
    <detail> 
      09/29 NDソフトスタジアム山形
    </detail>

    <div class="team-logo3">
      <img src="https://jleague.r10s.jp/img/common/img_club_tokushima.png" width="300" height="300" alt="写真">
    </div>

    <div class="team-logo4">
      <img src="https://www.montedioyamagata.jp/wp-content/themes/montedio/assets/img/emblem/yamagata.png" width="500" height="589" alt="写真">
    </div>

  </div>

 


  <h4>投稿を検索
    <%= form_tag({controller:"balls",action:"index"}, method: :get) do %>
      <%= text_field_tag :search %>
      <%= submit_tag '検索する'  %>
    <% end %>

  </h4>





   
 <div class="tweets-container">
    <% @balls.each do |t| %>

  
    <%= image_tag t.image_url, class: "auto-resize-image", resize: "780x480^", crop: "780x480+0+0" if t.image? %>
    <div class="index-title">
      <%= t.title %>
    </div>

    <div class="index-body">
      <%= t.body %>
    </div>

    <div class="index-adress">
      <%= t.address %>
    </div>

    <div class="heart-index">
      <% if user_signed_in? %>
        <% if current_user.already_liked?(t) %>
            <%= link_to ball_like_path(id: t.id, ball_id: t.id), method: :delete do %>
              <i class="fas fa-heart"></i><%= t.likes.count %> 
            <% end %>
        <% else %>
            <%= link_to ball_likes_path(id: t.id, ball_id: t.id), method: :post do %>
              <i class="far fa-heart"></i><%= t.likes.count %>
            <% end %>
        <% end %>

        
      <% end %>
    </div>


      <div class="delete">
        <%= link_to "詳細へ", ball_path(t.id) %>  
        <% if user_signed_in? && current_user.id == t.user_id %>
        <%= link_to "削除する", ball_path(t.id), method: :delete %>
        <% end %> 
      </div>
    <% end %>


    

  </div>
</div>

