
<h6 style="margin-top: 30px;margin-bottom: 40px;">投稿詳細</h6>

<div class="show-body">
 <%= @ball.body %>
</div>

<div class="show-at">
 <%= @ball.created_at %>
</div>

<div class="show-teamname">
 <%= @ball.teamname %>
</div>

<div class="show-title">
<%= @ball.title %>
</div>

<div class="show-image">
<%= image_tag @ball.image_url, class: "auto-resize-image-2", resize: "780x480^", crop: "780x480+0+0" if @ball.image? %>
</div>

<div class="show-video">
  <%= link_to @ball.video_url.to_s do %>
    <%= video_tag @ball.video_url, class: "auto-resize-video-2", resize: "780x480^", crop: "780x480+0+0" if @ball.video? %>
  <% end %>
</div>


<div class="show-likes>"
  <% if user_signed_in? %>
  <% if current_user.already_liked?(@ball) %>
    <%= link_to ball_like_path(@ball), method: :delete do %>
      <i class="fas fa-heart"></i><%= @ball.likes.count %>
    <% end %>
  <% else %>
    <%= link_to ball_likes_path(@ball), method: :post do %>
      <i class="far fa-heart"></i><%= @ball.likes.count %>
    <% end %>
  <% end %>
  <% else %>
  <i class="far fa-heart"></i><%= @ball.likes.count %>
  <% end %>
</div>


<div class="show-edit">
 <%= link_to "編集する", edit_ball_path(@ball.id) %>
</div>


<h10>いいねしたユーザー</h10>
<% @ball.liked_users.each do |user| %>
  <li><%= user.email %></li>
<% end %>

<div class="show-back">
 <%= link_to "投稿一覧に戻る", balls_path %>
</div>

<div class="mvp-show">
 MVP
</div>

<div class="teamname-show">

</div>

<div class="image-show">

</div>

<div class="image-video">

</div>

<div class="at-show">

</div>