
<h6 style="margin-top: 30px;margin-bottom: 40px;">投稿詳細</h6>

<div class="show">
  <div class="show-body">
  <%= @ball.body %>
  </div>

  <div class="show-at">
  <%= @ball.created_at %>
  </div>

  <div class="show-teamname">
  <%= @ball.teamname %>
  </div>

  <div class="show-title">
  <%= @ball.title %>
  </div>

  <div class="show-image">
  <%= image_tag @ball.image_url, class: "auto-resize-image-2", resize: "780x480^", crop: "780x480+0+0" if @ball.image? %>
  </div>

  <div class="show-video">
    <%= link_to @ball.video_url.to_s do %>
      <%= video_tag @ball.video_url, class: "auto-resize-video-2", resize: "780x480^", crop: "780x480+0+0" if @ball.video? %>
    <% end %>
  </div>

  <div class="mvp-show">
   MVP
  </div>
 
  <div class="teamname-show">
   VS
  </div>
 
  <div class="body-show">
   今日の解説！
  </div>
  

</div>








<div class="like-user">
  <h10>いいねしたユーザー</h10>
  <h50>
    <% @ball.liked_users.each do |user| %>
      <li><%= user.email %></li>
    <% end %>
  </h50>
</div>

<div class="stadiam2">
    <input id="address" type="textbox" value="ここに入力">
    <input type="button" value="スタジアムを検索" onclick="codeAddress()">
    <p40>マーカーをドラック＆ドロップで位置の調整ができます。<p40>
</div>


<div class="stadiam-show">
 開催スタジアム
</div>


<div id='map'></div>

<style>
#map {
  height: 450px;
  width: 800px;
  position: relative;
  bottom: 500px;
  left: 600px;


}
</style>


<script>
//初期マップの設定
let map
let marker
function initMap(){
geocoder = new google.maps.Geocoder()

map = new google.maps.Map(document.getElementById('map'), {
  center:  {lat: 35.6803997, lng:139.7690174},  //東京
  zoom: 15,
  
});
}

//検索後のマップ作成
let geocoder
let aft
function codeAddress(){
let inputAddress = document.getElementById('address').value;
geocoder.geocode( { 'address': inputAddress}, function(results, status) {
  if (status == 'OK') {
      //マーカーが複数できないようにする
      if (aft == true){
          marker.setMap(null);
      }

      //新しくマーカーを作成する
      map.setCenter(results[0].geometry.location);
          marker = new google.maps.Marker({
          map: map,
          position: results[0].geometry.location,
          draggable: true	// ドラッグ可能にする
      });

      //二度目以降か判断
      aft = true

      //検索した時に緯度経度を入力する
      document.getElementById('lat').value = results[0].geometry.location.lat();
      document.getElementById('lng').value = results[0].geometry.location.lng();

      // マーカーのドロップ（ドラッグ終了）時のイベント
      google.maps.event.addListener( marker, 'dragend', function(ev){
          // イベントの引数evの、プロパティ.latLngが緯度経度
          document.getElementById('lat').value = ev.latLng.lat();
          document.getElementById('lng').value = ev.latLng.lng();
      });
  } else {
    alert('該当する結果がありませんでした：' + status);
  }
});   
}

</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCjXcA0P6kv1l2KRpdEBgpd9YxeEdhPAgw&callback=initMap" async defer></script>
</div>






<div class="image-video">

</div>

<div class="at-show">

</div>