
<h6 style="margin-top: 30px;margin-bottom: 40px;">投稿詳細</h6>

<div class="show">
  <div class="show-body">
  <%= @ball.body %>
  </div>

  <div class="show-at">
  <%= @ball.created_at %>
  </div>

  <div class="show-teamname">
  <%= @ball.teamname %>
  </div>

  <div class="show-title">
  <%= @ball.title %>
  </div>

  <div class="show-image">
  <%= image_tag @ball.image_url, class: "auto-resize-image-2", resize: "780x480^", crop: "780x480+0+0" if @ball.image? %>
  </div>

  <div class="show-video">
    <%= link_to @ball.video_url.to_s do %>
      <%= video_tag @ball.video_url, class: "auto-resize-video-2", resize: "780x480^", crop: "780x480+0+0" if @ball.video? %>
    <% end %>
  </div>

  <div class="mvp-show">
   MVP
  </div>
 
  <div class="teamname-show">
   VS
  </div>
 
  <div class="body-show">
   今日の解説！
  </div>
  

</div>






<div class="like-user">
  <h10>いいねしたユーザー</h10>
  <h50>
    <% @ball.liked_users.each do |user| %>
      <li><%= user.email %></li>
    <% end %>
  </h50>
</div>



<div class="image-video">

</div>

<div class="at-show">

</div>