<div class="mypage">
  <h8>マイページ</h8>
  <p1>ユーザーネーム : <%= @user.name %></p1>
  <p2>メールアドレス : <%= @user.email %></p2>
  <%= image_tag @user.image_url, class: "auto-resize-image3", resize: "780x480^", crop: "780x480+0+0" if @user.image? %>
</div>

<div class="mypage-edit">
  <% if current_user.id == @user.id %>
    <%= link_to "プロフィールを編集する", edit_user_registration_path %>
  <% end %>
</div>



<div class="mypage-all">
  <h15>あなたの投稿一覧</h15>
  <div class="my-post">
    <% @user.balls.each do |t| %>
      <p5><%= t.title %></p5>
      <p6><%= image_tag t.image_url, class: "auto-resize-image4", resize: "780x480^", crop: "780x480+0+0" if t.image? %></p6>
      
    <% end %>
  </div>
</div>

<!-- 以下はいいね機能を実装している場合-->


<div class="mypage-like">
  <h16>あなたがいいねした投稿一覧</h16>
  <% @user.liked_balls.each do |t| %>
    <div class="like-photo">
      <p9><%= image_tag t.image_url, class: "auto-resize-image5", resize: "780x480^", crop: "780x480+0+0" if t.image? %></p9>
      <p7><%= t.user.name %></p7>
    </div>
  <% end %>
</div>
<!-- ここまで-->


