<!DOCTYPE html>
<html>
  <head>
    <title>Montedio</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/92ba495bca.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kosugi+Maru&display=swap" rel="stylesheet">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
    <h1>Montedista</h1>
    <div class="header-list">
      <ul>
      <% if user_signed_in? %>
      <li><%= button_to 'ログアウト', destroy_user_session_path, method: :delete %></li>
    <% else %>
      <li><%= link_to "ログイン", new_user_session_path %></li>
    <% end %>
      <li><%= link_to "ホーム", balls_path %></li>
      <li><%= link_to "新規投稿",new_ball_path %></li>
      </ul>
    </div>

    <div class="index-mypage">
      <% if user_signed_in? %>
       <%= link_to "マイページへ", user_path(current_user.id) %>
      <% end %>
    </div>

    </header>
    <main>
    <%= yield %>
    </main>

  </body>
    
  
</html>
